body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
     "Montserrat", Arial, Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-subtitle::first-letter {
  text-transform:capitalize;
}

.card-title{
  font-weight: 700;
}



@media (max-width: 767px) {
 
  #nav1 {
      background-color: #f80;
  }
};




.for{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 3s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 35%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 0.17s ease-in-out
}

.for:hover{
  width: 5em;
  cursor: pointer;
  
}

.for:hover input{
  display: block;
  transition: all 0.17s ease-in-out
}

.for:hover .fa{
  background: #07051a;
  color: white;
}


/*****************/


.bt1 {
	border: none;
	font-family: inherit;
	 font-size: inherit; 
	color: white;
	background: #f57a07;
	cursor: pointer;
  padding: 1.2em;
  /* padding-bottom: 2.5em; */
  width: 80%;
	display: inline-block;
	margin-bottom: 20em;
	text-transform: uppercase;
	letter-spacing: 1px;
	/* font-weight: 700; */
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bt1:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}




.icon-arrow-right:before {
  content: "\27F6" !important;
  color: #f57a07 !important;
}




/* Button 4 */
.btn-4 {
	border-radius: 50px;
	
	color: #fff;
	overflow: hidden;
}

.btn-4:active {
	border-color: #17954c;
	color: #17954c;
}



.bt1:hover {
  background: whitesmoke;
  color: #f57a07 !important;
  border: 1px solid #f57a07;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #f57a07;
}

/* Button 4a */
.btn-4a:before {
	left: 130%;
	top: 0;
}

.btn-4a:hover:before {
	left: 80%;
}

.fas, .far{
  color: #f57a07 !important;
 
  font-size: 1em;
  background: white;
  border: 2px solid white;
}

.fas:hover, .far:hover {
  color: white !important;
  background: #f57a07;
  border: 1px solid #f57a07;
}

.store-icon{
  margin-bottom: 3em;
}

.hey{
  display: none;
}

.hey:hover{
  display: block !important;
}

